{
  "presets": [
    "@babel/react",
    "@babel/preset-env",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-numeric-separator",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "true" // `style: true` 会加载 less 文件
      }
    ]
  ]
}