@headerColor: #f24;
@siderColor: #fff;
@siderWidth: 200px;
@height: 800px;

#container {
  border: 1px solid #f24;
  background-color: aqua;
}

#container .layout {
  background-color: #ff2244;
  display: flex;
  flex-direction: row;
}

#container .layout .sider {
  background-color: #fff;
}

#container .context {
  min-height: @height;
}

#container .context .header {
  background-color: #fff;
  height: 64px;
}

#container .context .content {
  display: inline-block;
  width: 100%;
  min-height: @height - 64;
  padding: 20px;
}
